body {
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 33px;
    color: #323d4f;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #344051;
}

.logo {
    font-size: 23px;
    color: white;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;

}

.menu li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;

}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url("../img/person.png") no-repeat 90% 100% / auto 85%, url("../img/phone.jpg") center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #3c384a;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px 0px 14px;
}

.about_me {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
}

.about_me h2 {
    margin-left: 900px;
}

.border_line {
    border: solid #d17700;
    border-width: 5px 0px 0px;
    margin: 30px 870px 60px 925px;
}

.about_me .photo_about_me {
    margin-left: 870px;
    width: 220px;
    height: 220px;
    margin-bottom: 30px;
}

.about_me .text_center {
    margin-bottom: 50px;
    margin-left: 600px;
}

.about_me .one_text {
    margin-bottom: 40px;
}


.about_me .submit_download {
    margin-left: 890px;
}

.about_me a {
    border: 2px solid #6f707e;
    border-radius: 10px;
    margin: auto;
    padding: 10px 25px 10px 12px;
    font-size: 16px;
    color: #6f707e;
}

.about_me a img {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

.iCanDo {
    background: url("../img/phoneCanIDo.jpg") no-repeat center / cover;
    padding-top: 105px;
    padding-bottom: 95px;
    text-align: center;
    height: 520px;
}

.iCanDo h2 {
    margin-left: 40px;
}

.iCanDo container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.develop,
.seo_optimization,
.marketing,
.web_design {
    width: 280px;
    height: 180px;
    float: left;
    padding-left: 80px;
    padding-top: 50px;

}

.web_design {
    margin-left: 400px;
}



.iCanDo h3 {
    padding-top: 35px;
    padding-bottom: 15px;
    color: #cf7600;
}

.seo_optimization h3 {
    margin-bottom: -4px;
    margin-top: -5px
}

.marketing h3 {
    margin-bottom: -7px;
}

.case {
    height: 2000px;
}

.case h2 {
    text-align: center;
    margin-left: 45px;
    margin-top: 105px;

}

.case .case_text {
    margin: 45px 0px 45px 600px;
}

.case img {
    margin-left: 390px;
}

.case_container {

    width: 200px;
    padding: 0;
    margin: 0;
    margin: 40px 85px 0px 390px;
    display: inline-block;

}

.case_container h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px;
}

.case_container p {
    font-size: 16px;
}

.case_container a {
    display: block;
    padding: 0;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #63b5ae;
    color: white;
    font-size: 15px;
    margin-top: 25px;
}

.project {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: -70px;
    width: 830px;
}

.project h3 {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
}

.project p {
    font-size: 20px;
}

.calculation_price h2 {
    font-size: 45px;
    font-weight: bold;
}

.calculation_price h3 {
    font-size: 29px;
    margin-left: 500px;
    margin-top: 60px;
}

.calculation_price select {
    margin-top: 20px;
    margin-left: 500px;
    width: 890px;
    height: 55px;
    background: #eeeeee;
    font-size: 16px;
    padding-left: 20px;
}

.calculation_price .line {
    margin-top: 40px;
    margin-left: 500px;
    margin-bottom: 20px;
    width: 890px;
    border-bottom: 3px solid #eee;
}

.term_сost {
    font-size: 20px;
    margin-left: 500px;

}

.price {
    margin-top: 15px;
}

.term_сost p .term {
    margin-left: 820px;
    font-size: 29px;
}

.term_сost p .cost {
    font-size: 29px;
    margin-left: 783px;
}

.statistic {
    width 100%;
    height: 500px;
    background: url(../img/phoneStatick.jpg) no-repeat center / cover;
}

.statistic h2 {
    padding-top: 100px;
    margin-left: 775px;
}

.container_statistic {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container {
    width: 210px;
    height: 180px;
}

.container div {
    font-size: 38px;
    font-weight: bold;
    color: #323d4f;
    margin-top: 35px;
}

.container p {
    margin-top: 27px;
    font-size: 16px;
    color: #323d4f;
}
.feedback {
    width: 100%;
    height: 600px;
    padding: 100px 600px 90px 600px;
    text-align: center;
}
.border_line_new {
    margin: 0 42%;
    padding-top: 50px;
    border-bottom: solid #d17700 5px;    
}
.feedback .photoComment {
    margin-top: 50px;
    margin-bottom: 35px;
}
.feedback p {
    font-size: 16px;
    margin-bottom: 40px;
}

.feedback p span {
    font-weight: bold;
}
.my_contacts {
    width: 100%;
    height: 885px;
        background: url(../img/phoneMyContacts.jpg) no-repeat center / cover;
    color: white;
    text-align: center;
}
.my_contacts h2 {
    color: white; 
    padding-top: 105px;
}
.my_contacts .border_line_new {
    margin: 0 47%;
    
}
.my_contacts_text {
    margin-top: 40px;
    margin-bottom: 50px;
}
.my_contacts_container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.email, .telephone {
    margin-left: 100px;
}
.address img, .email img, .telephone img {
    margin-bottom: 20px;
}
.my_contacts h3 {
    font-size: 20px;
    margin-bottom: 45px;
}
.name, .email {
    width: 350px;
    height: 35px;
    margin-bottom: 16px;
    
}
.my_contacts form {
    margin-right: 590px; 
    margin-left: 595px;
    display: flex;
    flex-flow: row wrap;
    opacity: 0.7;
    
}

.email, .name, .message {
    padding-left: 15px;
}
.message {
    padding-top: 10px;
}
.email {
    margin-left: 17px;
}
.message {
    width: 100%;
    height: 95px;
    margin-bottom: 28px;
}
.submit {
    margin-left: 300px;
    color: white;
    background: none;
    padding: 12px 20px;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 70px;
}
.socials {
    display: flex;
    justify-content: space-between;
    margin-left: 725px;
    margin-right: 723px;
}
footer {
    height: 90px;
    background: #354051;
    color: white;
    text-align: center;
    padding-top: 40px;
}




